/*
 * animations css stylesheet
 */

/* animate ngRepeat in phone listing */

.phone-listing-enter,
.phone-listing-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.phone-listing-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.phone-listing-enter.phone-listing-enter-active {
  opacity: 1;
  height: 120px;
}

.phone-listing-leave {
  opacity: 1;
  overflow: hidden;
}

.phone-listing-leave.phone-listing-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}


